# Node.js with React
# Build a Node.js project that uses React.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: 'v20.19.4'
  displayName: 'Install Node.js app Paytm application'

- script: |
    npm install
    npm run build
  displayName: 'testing paytm testin123 npm install and build'
