# Node.js with React
# Build a Node.js project that uses React.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
# Frontend
- task: Npm@1
  inputs:
    command: 'install'
    workingDir: 'Frontend'
  displayName: 'npm install (Frontend)'

- task: Npm@1
  inputs:
    command: 'custom'
    customCommand: 'run build'
    workingDir: 'Frontend'
  displayName: 'npm build (Frontend)'

# Backend (if needed)
- task: Npm@1
  inputs:
    command: 'install'
    workingDir: 'Backend'
  displayName: 'npm install (Backend)'
  
- script: |
    npm install
  displayName: 'npm install and build'
